.navigation {
    position: absolute;
    top: 1vh;
    text-align: right;;
}

.navigation li {
    list-style: none;
    display: inline;
}

.navigation li:hover {
    text-decoration: underline;
}

.navigation a {
    color: black;
    text-decoration: none;
    padding: 1vh;
}

nav .nav-active {
    background-color: #AEBDCA;
}