#catalog-page {
    background-color: transparent;
    overflow: hidden;
    border-radius: 10px;
    padding: 20px;
    height: auto;
    width: 900px;
}

#catalog-page>h1 {
    color: black;
    font-family: "Agency FB";
    font-size: 48px;
    font-weight: 700;
    margin-top: 10px;
    text-transform: uppercase;
    text-align: center;
}

.allGames {
    background-color: rgba(135,73,9, 0.2);
    border-radius: 3px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    max-width: 100%;
    margin: 15px;
    overflow: hidden;
    width: 200px auto;
    min-height: 210px;
    height: auto;
    /* display: inline-block; */
}

.allGames-info {
    padding: 30px;
    position: relative;
    width: 100%;
}

.allGames-info>img {
    margin-top: -10px;
    border-radius: 50%;
    height: 140px;
    position: absolute;
    top: 30px;
    right: 30px;
    float: right;
    padding: 5px;
    width: 140px;
}

.allGames-info>h6 {
    font-size: 20px;
    font-weight: 750;
    color: #161618;
}

.allGames-info>h2 {
    font-size: 20px;
    font-weight: 750;
    color: #161618;
}

.details-button {
    margin-top: 30px;
    background: rgb(53, 46, 40);
    color: white;
    font-size: 20px;
    cursor: pointer;
    font-weight: normal;
    transition: 0.5s;
    padding: 0.1em 2.5em;
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-radius: 2px;;
}