#create-page,
#edit-page {
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 5px;
    padding: 40px;
    box-sizing: border-box;
    text-align: center;
    background: rgba(135,73,9, 0.6);
    margin-top: 0em;
}

input{
    width: 400px;
    margin: 0px;
    display: inline-block;
}

label{
    display: inline-block;
    width: 200px;
}

input[type="text"] {
    background: #ecf0f3;
    padding: 30px;
    padding-left: 20px;
    height: 50px;
    margin-top: 10px;
    font-size: 24px;
    border-radius: 3px;
    box-shadow: inset 6px 6px 6px #c0c2c5, inset -6px -6px 6px white;
}

textarea {
    width: 100%;
    min-width: 20vw;
    min-height: 15em;
    border-radius: 3px;
    font-size: 26px;
    border-bottom-color: #ecf0f3;
    background-color: #ecf0f3;
    border-right-color: #ecf0f3;
    margin-top: 7px;
    color: black;
    box-shadow: inset 6px 6px 6px #c0c2c5, inset -6px -6px 6px white;
    padding: 10px 20px;
}

.btn.submit {
    margin-top: 30px;
    background: #352e28;
      background-color: rgb(53, 46, 40);
    height: 60px;
    border-radius: 3px;
    color: white;
    font-size: 26px;
    cursor: pointer;
    font-weight: 900;
    transition: 0.5s;
    margin-right: 10px;;
}
.btn.delete {
    margin-top: 30px;
    background-color: #501c1c;
    height: 60px;
    border-radius: 3px;
    color: white;
    font-size: 26px;
    cursor: pointer;
    font-weight: 900;
    transition: 0.5s;
    text-align: center;
}
