#game-details {
    position: relative;
    display: block;
    width: 980px;
    margin: 90px auto;
    border-radius: 2px;
    transition: all 0.4s;
}

#game-details h1 {
    color: #000;
    font-family: "Agency FB";
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: center;
}

.info-section {
    position: relative;
    width: 100%;
    height: 100%;
    background-blend-mode: multiply;
    z-index: 2;
    border-radius: 2px;
    background-color: rgba(255, 238, 221, 0.6);
    box-shadow: rgba(135,73,9, 0.6) 0px 0px 36px;
}

.movie_social {
    font-size: 1.6rem;
    padding-top: 20px;
    text-align: center;
}

.buttons {
    height: 10%;
    text-align: right;
    padding-right: 15px;
    padding-bottom: 40px;
}

.button {
    background: rgb(53, 46, 40);
      background-color: rgb(53, 46, 40);
    color: white;
    font-size: 20px;
    cursor: pointer;
    font-weight: normal;
    transition: 0.5s;
    padding: 0.1em 2.5em;
    border-radius: 2px;
    float: right;
    border: none;
}

.button.reading-list{
    margin-top: 30px;
    float: left;
}

.button:hover {
    background-color: #75685e;
    color: white;
}

.genre {
    background-color: rgba(110, 47, 192, 0.2);
    font-size: 1em;
    text-align: center;
    margin-bottom: 0.5em;
    width: 250px;
  }

  .story-body{
    padding: 20px 30px;
    font-size: 22px;
    white-space: pre-line;
  }

  .button.add-btn{
    background-image: url('../images/heart-empty.png');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: fit;
    -moz-background-size: fit;
    -o-background-size: fit;
    background-size: fit;
  }

  .button.remove-btn{
    background-image: url('../images/heart-full.png');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: fit;
    -moz-background-size: fit;
    -o-background-size: fit;
    background-size: fit;
  }